
/* define height and width of scrollable area. Add 16px to width for scrollbar          */
div.tableContainer {
	clear: both;

    /*max-height: calc(var(--vh, 1vh) * 60);*/

	width: 94vw;
    font-size:2vw;
    overflow:hidden;
}
.smallerFont {
    font-size:3vw;
}
.roomName {
    font-size:3.5vw;
}


div.tableHeaderElement {
    /*padding:6px 4px;*/
    text-align:center;
    border-right: 1px solid black;
    display:flex;
    align-items:center;
    justify-content:center;

}
div.tableBody{
	overflow-y:scroll;
    overflow-x:hidden;
	border-bottom: none;
	border-left: none;
    border-top: 1px solid black;


    border:1px solid black;
    border-bottom:none;



}
@media (orientation: landscape) {
    div.tableBody {
        max-height: calc(var(--vh, 1vh) * 50);
    }
    div.tableRow {
        display:flex;
        flex-direction:row;
        width:100%;
        min-height:10vh;
        min-height: calc(var(--vh, 1vh) * 10);
        font-size:2.5vw;
        /*border:1px solid black;*/

    }
    div.tableHeader {
        display:flex;
        flex-direction:row;
        /*width: 60vw;*/
        min-height:8vh;
        min-height: calc(var(--vh, 1vh) * 8);
        background-color: darkcyan;
        color:white;
        font-size:2.5vw;
        border:1px solid black;
        border-bottom:none;


    }
}

@media (orientation: portrait) {
    div.tableBody {
        max-height: calc(var(--vh, 1vh) * 70);
    }
    div.tableRow {
        display:flex;
        flex-direction:row;
        width:100%;
        min-height:5vh;
        min-height: calc(var(--vh, 1vh) * 5);
        font-size:3.0vw;



    }
    div.tableHeader {
        display:flex;
        flex-direction:row;
        /*width: 60vw;*/
        min-height:8vh;
        min-height: calc(var(--vh, 1vh) * 8);
        background-color: darkcyan;
        color:white;
        font-size:3.5vw;

        border:1px solid black;
        border-bottom:none;
    }
}


div.tableRow:nth-child(odd)  {
    background: #EEE;
}
div.tableBodyElement {
    border-right: 1px solid black;
    border-bottom:1px solid black;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;

}
div.tableBodyElementContent {
    width:100%;
    flex-grow:1;
}
div.tableRow:hover {
    background: #aaa;
    color:#fff;
    cursor:pointer;

}





html>body div.tableHeader>div {
	max-width: 45%;
    min-width: 45%;
}

html>body div.tableHeader>div + div {
	max-width: 15%;
    min-width: 15%;
}

html>body div.tableHeader>div + div + div{
	max-width: 22%;
    min-width: 22%;
}
html>body div.tableHeader>div + div + div + div{
	max-width: 18%;
    min-width: 18%;
}


/* define width of TD elements: 1st, 2nd, and 3rd respectively.          */
/* All other non-IE browsers.                                            */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
html>body div.tableRow>div {
	max-width: 45%;
    min-width: 45%;
}

html>body div.tableRow>div + div {
	max-width: 15%;
    min-width: 15%;
}

html>body div.tableRow>div + div + div{
	max-width: 22%;
    min-width: 22%;
}
html>body div.tableRow>div + div + div + div{
	max-width: 18%;
    min-width: 18%;
}



