
/* define height and width of scrollable area. Add 16px to width for scrollbar          */
div.tableContainer {
	clear: both;
    display:flex;
    flex-direction:column;
    /*max-height: calc(var(--vh, 1vh) * 60);*/

	width: 94vw;
    overflow-y:hidden;
    overflow-x:hidden;
}

/*.roomName {*/
/*    font-size:3.5vw;*/
/*}*/


div.tableHeaderElement {
    /*padding:6px 4px;*/
    text-align:center;
    border-right: 1px solid black;
    display:flex;
    align-items:center;
    justify-content:center;

}
div.tableBody{
    flex-direction:column;
	overflow-y:auto;
    overflow-x:hidden;
    /*background-color:red;*/
    /*box-sizing:border-box;*/
    /*border:1px solid black;*/
    /*border-bottom:1px solid black;*/

}
div.tableRow {
    display:flex;
    flex-direction:row;
    width:100%;
    box-sizing:border-box;
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;

}
@media (orientation: landscape) {
    div.tableContainer {
        height:calc(var(--vh, 1vh) * 72);
    }

    div.tableBody {
        height: calc(var(--vh, 1vh) * 50);
        overflow-y:scroll;
    }
    div.tableRow {
        height:10vh;
        height: calc(var(--vh, 1vh) * 10);
        font-size:5vh;
        /*border:1px solid black;*/

    }
    div.tableHeader {
        display:flex;
        flex-direction:row;
        /*width: 60vw;*/
        height:12vh;
        height: calc(var(--vh, 1vh) * 12);
        background-color: darkcyan;
        color:white;
        font-size:3.5vw;
        border:1px solid black;
        border-bottom:none;


    }
    .smallerFont {
        font-size:2.0vw;
    }
}

@media (orientation: portrait) {
    div.tableContainer {
        height:calc(var(--vh, 1vh) * 75);
    }

    div.tableBody {
        /*height: calc(var(--vh, 1vh) * 62);*/
        height:calc(var(--vh, 1vh) * 62);

    }
    div.tableRow {
        height:5vh;
        height: calc(var(--vh, 1vh) * 5);
        font-size:3.5vw;

    }
    div.tableHeader {
        display:flex;
        flex-direction:row;
        /*width: 60vw;*/
        height:8vh;
        height: calc(var(--vh, 1vh) * 8);
        background-color: darkcyan;
        color:white;
        font-size:3.5vw;

        border:1px solid black;
        border-bottom:none;
    }
    .smallerFont {
        font-size:3vw;
    }
}


div.tableRow:nth-child(odd)  {
    background: #EEE;
}
div.tableBodyElement {
    border-right: 1px solid black;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;

}
div.tableBodyElement:last-child {
    border-right:none;
}
div.tableBodyElementContent.roomName>p{
    text-decoration: underline;
    /*color:red;*/

}
div.tableBodyElementContent {
    width:100%;
    /*height:100px;*/
}
div.tableRow:hover {
    background: #aaa;
    color:#fff;
    cursor:pointer;

}


div.tableBody:last-child>.tableBodyElement {
    border-bottom:none;
}


html>body div.tableHeader>div {
	max-width: 45%;
    min-width: 45%;
}

html>body div.tableHeader>div + div {
	max-width: 15%;
    min-width: 15%;
}

html>body div.tableHeader>div + div + div{
	max-width: 22%;
    min-width: 22%;
}
html>body div.tableHeader>div + div + div + div{
	max-width: 18%;
    min-width: 18%;
}


/* define width of TD elements: 1st, 2nd, and 3rd respectively.          */
/* All other non-IE browsers.                                            */
/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
html>body div.tableRow>div {
	max-width: 45%;
    min-width: 45%;
}

html>body div.tableRow>div + div {
	max-width: 15%;
    min-width: 15%;
}

html>body div.tableRow>div + div + div{
	max-width: 22%;
    min-width: 22%;
}
html>body div.tableRow>div + div + div + div{
	max-width: 18%;
    min-width: 18%;
}



