/*IMPORTANT INFO*/
/*https://css-tricks.com/the-trick-to-viewport-units-on-mobile/*/
/*All vertical height requirements must use this class*/

/*noinspection ALL*/
.fullHeight {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}
.halfHeight {
    height:50%;
    height: calc(var(--vh, 1vh) * 50);
}
.quarterHeight {
    height:25%;
    height: calc(var(--vh, 1vh) * 25);
}
.gameSelectOptions {
    height:20vh;
    height: calc(var(--vh, 1vh) * 20);
}

@media (orientation: landscape) {
    .verticalPagePadding {
        height:10vh;
        height: calc(var(--vh, 1vh) * 10);

    }
    .lessVerticalPagePadding {
        height:5vh;
        height: calc(var(--vh, 1vh) * 5);

    }

}
@media (orientation: portrait) {
    .verticalPagePadding {
        height: calc(var(--vh, 1vh) * 20);

    }
    .lessVerticalPagePadding {
        height: calc(var(--vh, 1vh) * 10);
    }

}


/* End Important Info*/


/*Fonts and text sizing*/
.courier {
    font-family: "Courier New", serif;
    font-weight: lighter;
}
.title {
    font-size:5vw;
}
.roomTitle {
    margin-bottom:0;

}
.subTitle {
    font-size:3vw;
}

body{
    margin:0;
    padding:0;
    font-family:"Courier New", serif;
    font-weight: lighter;
}
.fullSize {
	width:100%;
    margin:0;
    padding:0;
}
.pageContainer{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

/* Side Borders*/
.pageBorderContainer {
    width:2%;
}
#pageRightBorder{
    float:right;
}
#roomRightBorder{
    float:right;
}
.pageBorder{
    width:0;
    transition: all .8s cubic-bezier(0.83, 0, 0.17, 1);
}



.pageBorder.pageBorderVisible {
    width:100%;
}

/* Page Styling*/
.pageContent {
    flex-grow:2;
}
.page {
    /*margin:0;*/
    /*padding:0;*/

    display:flex;

    align-items:center;
    justify-items: center;
    width:100%;

}
.bottomSegment {
    display:flex;
    flex-direction:column;
    width:100%;
    justify-items:center;
    align-items:center;
}
.pageWelcome {
    flex-direction:column;
}
.pageWelcomeWithName {
    flex-direction:column;
}
.pageRooms {
    flex-direction:column;
}

.pageCreateRoom {
    justify-content:space-around;
    flex-direction:column;
}
.spaceAround {
    justify-content:space-around;

}
.spaceBetween {
    justify-content:space-between;
}
.spaceEvenly {
    justify-content:space-evenly;
}
.justifyStart {
    justify-content:flex-start;
}
.alignSelfEnd {
    justify-self:end;
}

.flexColumn {
    display:flex;
    flex-direction:column;
    align-items:center;

    width:100%;
}
.fullWidth {
    width: 100%;
}


.verticalCenter {
    justify-items: center;
}


/* Inputs */

.bigTextInput {
	width: 80vw;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 20px;
    box-sizing: border-box;
    border:1px solid #bbbbbb;
}
.gameOptionsCheckbox {
    zoom:2;
}
.gameOptionsLabel {
    font-size:2vw;
}

.button { /* used to be called introButton*/

    font-family:"Courier New", serif;
    font-weight: lighter;
    border: 1px solid #bbbbbb;
    text-align:center;
    cursor:pointer;
}

.button:hover{
    background-color:#f9f9f9;
}



@media (orientation: landscape) {

    .largeButton {
        font-size: 5vw;
        padding: 10px 10px 10px 10px;
        width:30%;
    }

    .smallButton { /*used to be called smallerIntroButton */
        font-size: 4vw;
        width:40%;
        padding: 12px 20px;


    }

    .verySmallButton { /*used to be called smallerIntroButton */
        font-size: 2vw;

        width:25%;
        padding: 12px 20px;

    }

}
@media (orientation: portrait) {

    .largeButton {
        font-size: 6vw;
        padding: 10px 10px 10px 10px;
        width:50%;
    }

    .smallButton { /*used to be called smallerIntroButton */
        font-size: 5vw;
        width:50%;
        padding: 12px 20px;

    }
    .verySmallButton { /*used to be called smallerIntroButton */
        font-size: 2vw;

        width:25%;
        padding: 12px 20px;

    }

}

.playerList{
    display:flex;
    flex-direction:row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content:flex-start;
    /*border:1px solid #bbbbbb;*/
}

.player-name {
    background-color: #f9f9f9;
    /*padding: 3px 10px;*/
    box-sizing: border-box;
    text-align:center;
    border:1px solid black;

    /*border:1px solid black;*/

}
.player-name-text {
    text-decoration:underline;
}
.admin{
    /*font-weight: bold;*/
    /*background-image: linear-gradient(45deg, #a08acc 16.67%, #faf5da 16.67%, #faf5da 50%, #a08acc 50%, #a08acc 66.67%, #faf5da 66.67%, #faf5da 100%);*/
    background-size: 32px 32px;
}
.admin>.player-name-text {
    color:white;
    -webkit-text-stroke:.12vmax black;
    -webkit-text-fill-color: white;
    font-weight: bold;

}
@media (orientation: landscape) {

    .playerList{

        width:80vw;
        height:30vh;
        height: calc(var(--vh, 1vh) * 30);
    }
    .player-name {
        font-size:2vw;
        width:20vw;
        height:7vw;
    }

}
@media (orientation: portrait) {
    .playerList{

        width:80vw;
        height:60vh;
        height: calc(var(--vh, 1vh) * 60);
    }
    .player-name {
        font-size:4vmin;
        width:40vw;
        height:15vw;
        /*border:1px solid black;*/

    }
}





.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
