/*IMPORTANT INFO*/
/*https://css-tricks.com/the-trick-to-viewport-units-on-mobile/*/
/*All vertical height requirements must use this class*/

/*noinspection ALL*/
.fullHeight {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}
.halfHeight {
    height:50%;
    height: calc(var(--vh, 1vh) * 50);
}
.quarterHeight {
    height:25%;
    height: calc(var(--vh, 1vh) * 25);
}
.gameSelectOptions {
    height:20vh;
    height: calc(var(--vh, 1vh) * 20);
}

@media (orientation: landscape) {
    .verticalPagePadding {
        height:10vh;
        height: calc(var(--vh, 1vh) * 10);

    }
    .lessVerticalPagePadding {
        height:5vh;
        height: calc(var(--vh, 1vh) * 5);

    }

}
@media (orientation: portrait) {
    .verticalPagePadding {
        height: calc(var(--vh, 1vh) * 20);

    }
    .lessVerticalPagePadding {
        height: calc(var(--vh, 1vh) * 10);
    }

}


/* End Important Info*/


/*Fonts and text sizing*/
.courier {
    font-family: "Courier New", serif;
    font-weight: lighter;
}

.roomTitle {
    margin-bottom:0;
    margin-top:0;

}
@media (orientation: landscape) {
    .title {
        font-size: 5vw;
    }
    .subTitle {
        font-size: 3vw;
    }
    .subTitle.roomTitle {
        font-size: 3.5vw;
    }
}
@media (orientation: portrait) {
    .title {
        font-size: 6vw;
    }
    .title.roomTitle {
        font-size:7vw;
    }
    .subTitle {
        font-size: 4vw;
    }
    .subTitle.roomTitle {
        font-size: 5vw;
    }
}
body{
    margin:0;
    padding:0;
    font-family:"Courier New", serif;
    font-weight: lighter;
    /*background-color:red;*/
    /*height:100%;*/
    /*overflow:hidden;*/
}
.fullSize {
	width:100%;
    margin:0;
    padding:0;
}
.pageContainer{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

/* Side Borders*/
.pageBorderContainer {
    width:2%;
}
#pageRightBorder{
    float:right;
}
#roomRightBorder{
    float:right;
}
.middleZIndex {
    z-index:1;
}
.higherZIndex {
    z-index:2;
}
.veryHighZIndex {
    z-index:3;
}
.pageBorder{
    width:0;
    transition: all .8s cubic-bezier(0.83, 0, 0.17, 1);
}



.pageBorder.pageBorderVisible {
    width:100%;
}

/* Page Styling*/
.pageContent {
    flex-grow:2;
}
.page {
    /*margin:0;*/
    /*padding:0;*/

    display:flex;

    align-items:center;
    justify-items: center;
    width:100%;

}
.bottomSegment {
    display:flex;
    flex-direction:column;
    width:100%;
    justify-items:center;
    align-items:center;
}
.pageWelcome {
    flex-direction:column;
}
.pageWelcomeWithName {
    flex-direction:column;
}
.pageRooms {
    flex-direction:column;

}

.pageCreateRoom {
    justify-content:space-around;
    flex-direction:column;
}
.spaceAround {
    justify-content:space-around;

}
.spaceBetween {
    justify-content:space-between;
}
.spaceEvenly {
    justify-content:space-evenly;
}
.justifyStart {
    justify-content:flex-start;
}
.alignSelfEnd {
    justify-self:end;
}

.flexColumn {
    display:flex;
    flex-direction:column;
    align-items:center;

}
.flexRow {
    display:flex;
    flex-direction:row;
    justify-content:center;
    width:100%;

}
.fullWidth {
    width: 100%;
}
.noPadding {
    padding:0;
}


.verticalCenter {
    justify-items: center;
}


/* Inputs */

.bigTextInput {
	width: 80vw;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 20px;
    box-sizing: border-box;
    border:1px solid #bbbbbb;
}



.button { /* used to be called introButton*/

    font-family:"Courier New", serif;
    font-weight: lighter;
    border: 1px solid #bbbbbb;
    text-align:center;
    cursor:pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    background-color:#ffffff;
}

.button:hover{
    background-color:#f9f9f9;
}



@media (orientation: landscape) {

    .largeButton {
        font-size: 5vw;
        padding: 10px 10px 10px 10px;
        width:30%;
    }

    .smallButton { /*used to be called smallerIntroButton */
        font-size: 4vw;
        width:40%;
        padding: .6vw .5vw;

    }
    .smallButtonNoWidth {
        font-size: 4vw;
        padding: .6vw .5vw;
    }

    .verySmallButton { /*used to be called smallerIntroButton */
        font-size: 2.5vw;

        width:25%;
        padding: .6vw .5vw;

    }
    .verySmallButtonNoWidth {
        font-size: 2.5vw;

        padding: .6vw .5vw;
    }
    .gameOptionsCheckbox {
        zoom:2;
    }

    .gameOptionsLabel {
        font-size:2vw;
        text-align:center;
        width:80%;
    }

}
@media (orientation: portrait) {

    .largeButton {
        font-size: 6vw;
        padding: 10px 10px 10px 10px;
        width:50%;
    }

    .smallButton { /*used to be called smallerIntroButton */
        font-size: 5vw;
        width:50%;
        padding: 12px 20px;

    }
    .smallButtonNoWidth {
        font-size: 5vw;
        padding: 12px 20px;
    }
    .verySmallButton { /*used to be called smallerIntroButton */
        font-size: 3vw;

        width:30%;
        padding: 12px 20px;

    }
    .verySmallButtonNoWidth {
        font-size: 3vw;
        padding: 12px 20px;
    }
    .gameOptionsCheckbox {
        /*zoom:2;*/
    }

    .gameOptionsLabel {
        font-size:4vw;
        text-align:center;
        width:80%;
    }

}

.playerList{
    display:flex;
    flex-direction:row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content:center;

    /*border:1px solid #bbbbbb;*/
}

.player-name {
    background-color: #f9f9f9;
    /*padding: 3px 10px;*/
    box-sizing: border-box;
    text-align:center;
    border:1px solid black;
    position:relative;

    /*border:1px solid black;*/

}
.player-name-text {
    text-decoration:underline;
}
.admin{
    /*font-weight: bold;*/
    /*background-image: linear-gradient(45deg, #a08acc 16.67%, #faf5da 16.67%, #faf5da 50%, #a08acc 50%, #a08acc 66.67%, #faf5da 66.67%, #faf5da 100%);*/
    background-size: 32px 32px;
}
.admin>.player-name-text {
    color:white;
    -webkit-text-stroke:.12vmax black;
    -webkit-text-fill-color: white;
    font-weight: bold;

}
@media (orientation: landscape) {

    .playerList{

        max-width:80vw;
        min-height:30vh;
        min-height: calc(var(--vh, 1vh) * 30);
    }
    .player-name {
        font-size:2vw;
        width:20vw;
        height:7vw;
    }

}
@media (orientation: portrait) {
    .playerList{

        max-width:80vw;
        min-height:60vh;
        min-height: calc(var(--vh, 1vh) * 60);
    }
    .player-name {
        font-size:4vmin;
        width:40vw;
        height:15vw;
        /*border:1px solid black;*/

    }
}



.actionsButtonContainer {
    position:absolute;
    width:15vw;
    height:15vw;
    bottom:0;
    right:0;
    overflow:hidden;
}
.actionsButton {
    position:relative;
    background-color:rgba(0,0,0,.5);
    width:15vw;
    height:15vw;
    border-radius:5vw;
    bottom:-5vw;
    right:-5vw;
}

.unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    cursor:default;
}




.modalContentContainer {
    background-color:white;
    padding:2vh 2vw;
    justify-content:center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

}
.modalOverlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.5)

}
.popUpContentContainer {
    background-color:white;
    padding:2vh 2vw;
    width:50vw;
    justify-content:center;
    border-radius:4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

}
.popUpOverlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:50%;
}


@media (orientation: landscape) {
    .modalContentContainer {
        max-width:65vw;
        max-height:75vh;
    }
    .modalContentContainer>div>h2, .modalContentContainer>h2{
        font-size:3vw;
        padding:0;
    }
    .modalContentContainer>h4 {
        font-size:2vw;
        padding:0;
     }

}
@media (orientation: portrait) {
    .modalContentContainer {
        max-width:80vw;
        max-height:75vh;
    }
    .modalContentContainer>div>h2, .modalContentContainer>h2 {
        font-size:4vw;
        padding:0;
    }
     .modalContentContainer>h4 {
        font-size:3vw;
        padding:0;
     }

}


.mainActions {
    position:absolute;
    top:0;
    left:2vw;
}


@media (orientation: landscape) {
    .mainActions>.button{
        font-size: 3vw;

        padding: .6vw .5vw;
    }
}
@media (orientation: portrait) {
    .mainActions>.button{
        font-size: 4vw;

        padding: .6vw .5vw;
    }
}

